.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    height:100%;
}

.header {
    grid-area: header;
    background-color: white;
}
.title {
    display: flex;
    align-items: center;
}

.title img{
    height: 40px;
    margin-right: 10px;
}

.title span {
    font-weight: bold;
}

.login_block {
    color: black;
    line-height: 50px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
