.profile_info_wrapper {
    background-color: #edeef0;
    padding: 15px;
    border-radius: 5px;
}

.avatar {
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
}

.about_block{
}


